!!!
%html
	%head
		%link(rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css")
		%link(rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-responsive.min.css")
		%title "Walkme"
	%body
		.well
			%h1 AKLSdjlakjsd

	%script(src="lib/jquery-1.9.1.min.js")
	%script(src="lib/bootstrap/js/bootstrap.min.js")
	%script(src="lib/underscore-min.js")
	%script(src="lib/backbone-min.js")
	%script(src="app.js")
		
