!!!
%html
	%head
		%link(rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css")
		%link(rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-responsive.min.css")
		%title "Walkme"
	%body{:style=>"width:400px"}
		.container
			.navigation
			.main

	%script#joinview{ :type => 'text/template' }
		.row-fluid
			.navbar.navbar-fixed-top
				.navbar-inner
					.container
						%a.brand{:id=>'home'}
							Walkme
						.btn-group.pull-right
							%a.btn.btn-info{:href=>"#", :id=>"help"}
								help
							%a.btn.btn-link{:id=>"logout"}
								loguot
		.row-fluid
			.tabbable
				%ul.nav.nav-tabs
					%li.active
						%a{:href=>"#workspace-panel", "data-toggle"=>"tab", :id=>"workspace"}
							WorkSpace
					%li
						%a{:href=>"#setting-panel", "data-toggle"=>"tab", :id=>"setting"}
							Setting
					%li
						%a{:href=>"#publish-panel", "data-toggle"=>"tab", :id=>"publish"}
							Publish
				.tab-content
					.tab-pane.active{:id=>"workspace-panel"}
						%p 
							I'm in Section 1.
					.tab-pane{:id=>"setting-panel"}
						%p 
							I'm in Section 2.
					.tab-pane{:id=>"publish-panel"}
						%p 
							I'm in Section 3.



	%script#login-form{ :type => 'text/template' }
		%form
			.control-group.email.optional.user_email
				%label.email.optional.control-label
					Email
				.controls
					%input.string.email.optional{:name=>"user[email]", :size=>"50", :type=>"email", :value=>"user@example.com"}
			.control-group.password.optional.user_password
				%label.password.optional.control-label
					Password
				.controls
					%input.password.optional{:id=>"user_password", :name=>"user[password]", :size=>"50", :type=>"password", :value=>"changeme"}
			.control-group.boolean.optional.user_remember_me
				%label.boolean.optional.control-label
					Remember me
				.controls
					%input{:name=>"user[remember_me]", :type=>"hidden", :value=>"0"}
					%label.checkbox
						%input.boolean.optional{:name=>"user[remember_me]", :type=>"checkbox", :value=>"1"}
			%input.btn.btn-primary{:name=>"commit", :type=>"submit", :value=>"Sign in"}

	%script(src="lib/jquery-1.9.1.min.js")
	%script(src="lib/bootstrap/js/bootstrap.min.js")
	%script(src="lib/underscore-min.js")
	%script(src="lib/json2.js")
	%script(src="lib/backbone-min.js")
	%script(src="app.js")
		
