<!DOCTYPE html>
<html>
  <head>
    <link href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='lib/bootstrap/css/bootstrap-responsive.min.css' rel='stylesheet' type='text/css'>
    <title>"Walkme"</title>
  </head>
  <body style='width:400px'>
    <div class='container'>
      <div class='navigation'></div>
      <div class='main'></div>
    </div>
  </body>
  <script id='navigation_view' type='text/template'>
    <div class='row-fluid'>
      <div class='navbar navbar-fixed-top'>
        <div class='navbar-inner'>
          <div class='container'>
            <a class='brand' id='home'>
              Walkme
            </a>
            <div class='btn-group pull-right'>
              <a class='btn btn-link'>
                <%= name %>
              </a>
              <a class='btn btn-info' href='#' id='help'>
                help
              </a>
              <a class='btn btn-link' id='logout'>
                loguot
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='tabbable'>
        <ul class='nav nav-tabs'>
          <li class='active'>
            <a data-toggle='tab' href='#workspace-panel' id='workspace'>
              WorkSpace
            </a>
          </li>
          <li>
            <a data-toggle='tab' href='#setting-panel' id='setting'>
              Setting
            </a>
          </li>
          <li>
            <a data-toggle='tab' href='#publish-panel' id='publish'>
              Publish
            </a>
          </li>
        </ul>
        <div class='tab-content'>
          <div class='tab-pane active' id='workspace-panel'>
            <div class='content'>
              <p>
                I'm in Section 1.
                <table class='table table-striped'>
                  <% _.each(tasks, function(acs) { %>
                  <tr>
                    <td>
                      <%= acs.name %>
                    </td>
                    <td>
                      <%= acs.text %>
                    </td>
                  </tr>
                  <% }); %>
                </table>
              </p>
            </div>
            <div class='actions'>
              <div class='btn-group pull-left'>
                <a class='btn btn-info' href='#' id='start'>
                  start
                </a>
                <a class='btn btn-info' href='#' id='stop'>
                  stop
                </a>
                <a class='btn btn-info' href='#' id='play'>
                  play
                </a>
                <a class='btn btn-info' href='#' id='clear_data'>
                  clear_data
                </a>
              </div>
            </div>
          </div>
          <div class='tab-pane' id='setting-panel'>
            <p>
              I'm in Section 2.
            </p>
          </div>
          <div class='tab-pane' id='publish-panel'>
            <p>
              I'm in Section 3.
            </p>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script id='login-form' type='text/template'>
    <form>
      <div class='control-group email optional user_email'>
        <label class='email optional control-label'>
          Email
        </label>
        <div class='controls'>
          <input class='string email optional' name='user[email]' size='50' type='email' value='user@example.com'>
        </div>
      </div>
      <div class='control-group password optional user_password'>
        <label class='password optional control-label'>
          Password
        </label>
        <div class='controls'>
          <input class='password optional' id='user_password' name='user[password]' size='50' type='password' value='changeme'>
        </div>
      </div>
      <div class='control-group boolean optional user_remember_me'>
        <label class='boolean optional control-label'>
          Remember me
        </label>
        <div class='controls'>
          <input name='user[remember_me]' type='hidden' value='0'>
          <label class='checkbox'>
            <input class='boolean optional' name='user[remember_me]' type='checkbox' value='1'>
          </label>
        </div>
      </div>
      <input class='btn btn-primary' id='submit' name='commit' type='submit' value='Sign in'>
    </form>
  </script>
  <script src='lib/jquery-1.9.1.min.js'></script>
  <script src='lib/bootstrap/js/bootstrap.min.js'></script>
  <script src='lib/underscore-min.js'></script>
  <script src='lib/json2.js'></script>
  <script src='lib/backbone-min.js'></script>
  <script src='app.js'></script>
</html>
