.container
  #demo
    .container-fluid
      .row-fluid
        .example.span7
          = render 'app/example'
        .span5.affix{:style=>"margin-left:550px"}

          #demo-widget{:style=>"width:550px"}
