.container
  #demo
    .container-fluid
      .row-fluid
        .example.span7
          = render 'app/example'
        .span5.affix{:style=>"margin-left:550px"}
          %a.btn{:style=>"margin-left:230px", :id=>"walkme"}
            WalkMe
          #demo-widget{:style=>"width:550px"}
