.container
  #demo
    .container-fluid
      = render 'app/request_invite'
      .row-fluid
        .example.span5
          = render 'app/example'
        .span5.affix.offset5
          %a.btn.btn-primary{:style=>"margin-left:220px;margin-top:-60px;", :id=>"button_walkme"}
            WalkMe
          .demo-widget.bottom
            .arrow
        .span5.affix{:style=>"margin-left:550px;height: 660px;overflow: auto;", "data-spy"=>"scroll", "data-target"=>"#demo-widget", "data-offset"=>"0"}          
          .demo-widget.bottom
            .arrow
            #demo-widget.span12
        .span3.affix.bot{:id=>"affix", :style=>"margin-left:750px"}
          .row-fluid
            %strong Need help?
            .pull-right
              %i.icon-chevron-up
          .row-fluid
            .input-append
              %input.span8{:type=>"text", :placeholder => "Type your question here"}

              %button.btn{:type=>"button"}
                %i.icon-search
                Search
          .row-fluid.help
            %ul
            
              
